.welcome-card {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px 40px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-card h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    margin-top: 0;
}

.welcome-card label{
    color: #555;
    line-height: 1.6;
    margin: 20px 0;
}

.welcome-card p.welcome-text {
    color: #555;
    line-height: 1.6;
    margin: 20px 0;
}

.welcome-step {
    display: none; /* Hide all steps by default */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-btn {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 14px 35px;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
}

.start-btn:hover {
    background-color: #1865c9;
}

#order-select {
    font-size: 1.2em;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    margin-bottom: 20px;
    font-family: inherit;
    font-size: 1rem;
    color: #555;
}

#order-select option {
    font-family: inherit;
    font-size: 1rem;
    color: #555;
}